# Virtual environment
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Local database
*.db
*.sqlite3

# Generated images and PDFs
part_images/
pdfs/
*.pdf
part_images/

# Environment variables
.env

# Distribution folders
dist/
build/

# Egg info
*.egg-info

# Log files
*.log
logs/